* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background-color: #eee;
    padding: 0 16px;
  }
  
  .navbar {
    background-color: black;
    margin: auto -16px;
    padding: 1px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-heading {
    color: #fff;
    float: right;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    padding-left: 10px;
  }
  
  #navbrand-img {
    width: 90px;
  }
  
  .nav-link {
    font-size: 1.1rem;
    font-family: "Montserrat";
    font-weight: 300;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .bg-image {
    height: 500px;
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .menu {
    margin: 50px 200px 0;
  }
  
  .resto-name {
    padding: 20px 0 0 31px;
    font-weight: 900;
  }

  .tname, .tprice {
    text-align: left;
    width: 100%;
    padding: 20px 60px 0 20px;
  }

  .tdata{
    border-collapse: collapse;
    width: 100%;
}
    
.tdata tr:nth-child(even) {
    background-color: white;
}